<div nz-row nzType="flex" nzJustify="center" class="container">
  <div nz-col nzSpan="12">
    <form nz-form [formGroup]="articleForm" (ngSubmit)="submit()">
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-label nzSpan="3">
            标题
          </nz-form-label>
          <nz-form-control nzSpan="21">
            <input nz-input placeholder="输入标题" formControlName="title">
          </nz-form-control>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="12">
          <nz-form-label nzSpan="6">一级分类</nz-form-label>
          <nz-form-control nzSpan="18">
            <nz-select nzAllowClear
                       formControlName="primary"
                       [compareWith]="compareFn"
                       (ngModelChange)="selectPrimary()" nzPlaceHolder="选择一级分类" >
              <div *ngIf="primaryClassificationList">
                <nz-option *ngFor="let primaryClassification of primaryClassificationList"
                           [nzValue]="primaryClassification"
                           [nzLabel]="primaryClassification.classificationName"></nz-option>
              </div>
            </nz-select>
          </nz-form-control>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-label nzSpan="6">二级分类</nz-form-label>
          <nz-form-control nzSpan="18">
            <nz-select formControlName="secondary"
                       [compareWith]="compareFn"
                       nzAllowClear
                       nzPlaceHolder="选择二级分类">
              <div *ngIf="secondaryClassificationList">
                <nz-option *ngFor="let secondaryClassification of secondaryClassificationList" [nzValue]="secondaryClassification" [nzLabel]="secondaryClassification.classificationName"></nz-option>
              </div>
            </nz-select>
          </nz-form-control>
        </div>
      </div>

      <div nz-row formArrayName="label">
        <div nz-col nzSpan="24">
          <nz-form-label nzSpan="3">标签</nz-form-label>
          <nz-form-control nzSpan="21">
            <nz-checkbox-wrapper style="padding-top: .5rem;">
              <div nz-row *ngIf="labelList">
                <div nz-col nzSpan="8" *ngFor="let labelItem of label.controls; let i = index;">
                  <label nz-checkbox [formControlName]="i">{{labelList[i].labelName}}</label>
                </div>
              </div>
            </nz-checkbox-wrapper>
          </nz-form-control>
        </div>
      </div>

      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-label nzSpan="3">发布类型</nz-form-label>
          <nz-form-control nzSpan="21">
            <nz-radio-group formControlName="accessType">
              <label nz-radio nzValue="公开">公开</label>
              <label nz-radio nzValue="私有">私有</label>
            </nz-radio-group>
          </nz-form-control>

        </div>
      </div>

      <div nz-row nzType="flex" nzJustify="center">
        <div nz-col>
          <nz-form-item>
            <nz-form-control>
              <button nz-button type="button" (click)="getArticleInfo()">获取信息</button>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

    </form>
  </div>
</div>
<div nz-row nzType="flex" nzJustify="center">
  <div nz-col nzSpan="12">
    <pre>{{articleForm.value | json}}</pre>
  </div>
</div>

